.corosel {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 1.5rem;
  background: rgba(235, 235, 230, 1);
  flex-direction: column;
  justify-content: space-around;
}

.corosel_images {
  height: 90%;
  width: auto;
  display: flex;
  gap: 1.5rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  align-items: center;
  flex-wrap: nowrap;
}

.corosel_images::after {
  content: "";
  flex: 0 0 auto;
  width: 0.8rem;
  height: 100%;
}

.image_wrapper {
  flex: 0 0 auto;
  height: 90%;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corosel_image {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.heading_wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  z-index: 2;
  mix-blend-mode: difference;
}

.corosel_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .image_wrapper {
    width: 20vw;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .image_wrapper {
    width: 30vw;
  }
}

@media screen and (max-width: 767px) {
  .image_wrapper {
    width: 45vw;
  }
}

@media screen and (max-width: 480px) {
  .image_wrapper {
    width: 90vw;
  }
  .corosel {
    padding-left: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  .corosel_buttons {
    display: none;
  }

  .corosel_images {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .corosel_images {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 480px) {
  .corosel_images {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .corosel {
    padding-left: 1.2rem;
  }
}
